//Override default refinery formatting below.
//Formatting applies to backend WYSIWYG editors and all frontend.
$content_width: 700px
$bgColor: #58FAD0

nav#menu
  margin: 14px 0 10px 0
  border-top: 2px solid black
  border-bottom: 2px solid black
  //border-top: 2px
  //border-bottom: 2px
  width: $content_width
  ul li
    padding-top: 6px
    //background: yellow
    line-height: 2px
body
  width: $content_width
  background: $bgColor

#body_content, #side_body_content
  float: left
  background: $bgColor
  width: 700px

header
  width: 700px
  h1
    color: purple
    font-family: "Comic Sans MS", cursive, sans-serif
    margin-bottom: 8px

  h3
    font-family: Century Gothic, Arial, Sans-Serif
    font-style: italic
    color: #00008b
    padding: 0px
    margin: 4px 0

  a
    color: purple
    font-family: "Comic Sans MS", cursive, sans-serif
    margin-bottom: 8px

  #logo
    color: yellow