nav#menu {
  margin: 14px 0 10px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 700px; }
  nav#menu ul li {
    padding-top: 6px;
    line-height: 2px; }

body {
  width: 700px;
  background: #58fad0; }

#body_content, #side_body_content {
  float: left;
  background: #58fad0;
  width: 700px; }

header {
  width: 700px; }
  header h1 {
    color: purple;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 8px; }
  header h3 {
    font-family: Century Gothic, Arial, Sans-Serif;
    font-style: italic;
    color: #00008b;
    padding: 0px;
    margin: 4px 0; }
  header a {
    color: purple;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 8px; }
  header #logo {
    color: yellow; }
