<h1 id='logo'>
  <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= image_tag "http://s3.amazonaws.com/ipwc2030/flags_ball_small.png" %>
</h1>
<h3 id='sublogo'>
  <%= RefinerySetting.find_or_set(:sub_logo, "sublogo") %>
</h3>

<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
